* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: #282828;
    font-family: Roboto, sans-serif;
}

.hero-img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.title {
    color: aliceblue;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.category-btn {
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.btn {
    border: none;
    padding: 10px;
    width: 6rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    background-color: rgb(44, 69, 117);
    color: white;
}
.btn:hover {
    background-color: rgb(52, 99, 184);
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 12rem;
    background: whitesmoke;
    border-radius: 15px;
}
.card-img {
    width: 15rem;
    height: 12rem;
    border-radius: 10px;
    object-fit: inherit;
}

.continent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    text-transform: capitalize;
    color: rgb(58, 71, 83);
}
.card-continent {
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    color: rgb(155, 155, 155);
}
.order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.card-btn {
    padding: 8px;
    width: 6rem;
    background-color: rgb(44, 69, 117);
}
.card:hover {
    transform: scale(20px);
}
